.main {
  padding-block: 40px 150px;
}
.hero {
  text-align: center;
  background-position: 100% 0;
  background-size: auto 115%;
  border-radius: 36px;
  align-content: center;
  height: 760px;
}
.hero__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 1;
}
.hero__description {
  color: #fffc;
  margin-top: 25px;
  font-size: 24px;
}
.hero + .blog-section {
  margin-top: 150px;
}
.blog-section__title {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
}
.blog-section-items {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 40px;
  display: grid;
}
.blog-section__button {
  color: #33348e;
  background-color: #f4f5ff;
  border-radius: 16px;
  width: fit-content;
  margin: 30px auto 0;
  padding-inline: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
}
.blog-section + .blog-section {
  margin-top: 150px;
}
