.main {
  padding-block: 40px 150px;
}
.hero {
  border-radius: 32px;
  position: relative;
  overflow: hidden;
}
.hero-wrapper {
  display: flex;
}
.hero-slide {
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: linear-gradient(to right, #020a1a 25%, transparent), var(--background-image);
  flex-shrink: 0;
  height: 430px;
  padding: 70px 80px;
}
.hero-slide__title {
  color: #d7d7d7;
  font-size: 44px;
  font-weight: 500;
}
.hero-slide__description {
  color: #d7d7d7;
  margin-top: 15px;
  font-size: 24px;
}
.hero-slide__description > span {
  color: #446deb;
  font-weight: 500;
}
.hero-slide__button {
  background-color: #446deb;
  border-radius: 16px;
  width: fit-content;
  margin-top: 30px;
  padding-inline: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  display: block;
}
.hero-footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 80px;
  right: 80px;
}
.hero-pagination {
  column-gap: 5px;
  display: flex;
}
.hero-pagination__item {
  background-color: #fff3;
  border-radius: 9999px;
  width: 10px;
  height: 10px;
  transition:
    width 0.25s,
    background-color 0.25s;
}
.hero-pagination__item--active {
  background-color: #fff;
  width: 20px;
}
.hero-navigation {
  column-gap: 10px;
  display: flex;
}
.hero-navigation__button {
  color: #363636;
  background-color: #fff;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transition: scale 0.25s;
  display: flex;
}
.hero-navigation__button > svg {
  margin: auto;
}
.hero-navigation__button:not(:disabled):active {
  scale: 0.925;
}
.catalog {
  margin-top: 150px;
}
.catalog-header {
  justify-content: center;
  column-gap: 10px;
  display: flex;
}
.catalog-header__button {
  color: #282828;
  background-color: #fff;
  border-radius: 9999px;
  padding-inline: 25px;
  line-height: 50px;
  display: block;
}
.catalog-header__button > span {
  color: #939393;
}
.catalog-section {
  scroll-margin-top: 30px;
}
.catalog-section__title {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
}
.catalog-section__description {
  text-align: center;
  margin-top: 15px;
  font-size: 24px;
}
.catalog-section__items {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 30px;
  display: grid;
}
.catalog-section__button {
  color: #33348e;
  background-color: #f4f5ff;
  border-radius: 16px;
  width: fit-content;
  margin: 30px auto 0;
  padding-inline: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  display: block;
}
.catalog-header + .catalog-section {
  margin-top: 30px;
}
.catalog-section + .catalog-section {
  margin-top: 100px;
}
.gree {
  margin-top: 150px;
}
.gree-app {
  background-color: #1b1f2c;
  border: 1px solid #292e3a;
  border-radius: 32px;
  margin-top: 250px;
  padding: 60px 40px 0;
}
.gree-app__title {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
}
.gree-app__description {
  text-align: center;
  margin-top: 15px;
  padding-inline: 140px;
  font-size: 24px;
}
.gree-app-wrapper {
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 150%;
  background-image: linear-gradient(to top, #1b1f2c 25%, #1b1f2c 32.5%, transparent), var(--background-image);
  height: 600px;
  margin-top: 65px;
  position: relative;
}
.gree-app-card {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background-color: #33348e29;
  border: 1px solid #ffffff0d;
  border-radius: 24px;
  width: 295px;
  padding: 24px;
  position: absolute;
  right: 50%;
}
.gree-app-card__icon {
  background-color: #252c84;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: flex;
}
.gree-app-card__icon > svg {
  width: 24px;
  height: 24px;
  margin: auto;
}
.gree-app-card__title {
  color: #dbe0ec;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}
.gree-app-card__description {
  color: #fff9;
  margin-top: 10px;
}
.gree-app-card:first-child {
  bottom: 125px;
  translate: -70%;
}
.gree-app-card:last-child {
  top: 50px;
  translate: 170%;
}
.technologies {
  margin-top: 150px;
}
